@model Ferrex.Core.Models.TransportOrder

@{}
<section class="container">
    <div class="grid">
        <div class="row">
            <div class="cell">
                <div data-role="panel"
                     data-title-caption="Creando orden de transporte"
                     data-cls-title="bg-darkGrayBlue fg-grayWhite h5 m-0 p-4 h-auto text-normal"
                     data-cls-content="p-4">
                    <form method="post" asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="fg-red"></div>
                        <div class="row">
                            <div class="cell-6">
                                <label asp-for="RequestedDay"></label>
                                <input asp-for="RequestedDay" data-role="input" />
                                <small class="fg-red"><span asp-validation-for="RequestedDay"></span></small>
                            </div>
                            <div class="cell-6">
                                <label asp-for="RequestedKilometers"></label>
                                <input asp-for="RequestedKilometers" data-role="input" />
                                <small class="fg-red"><span asp-validation-for="RequestedKilometers"></span></small>
                            </div>
                        </div>
                        <div class="mt-5">
                            <button type="submit" class="button secondary large"><i class="fas fa-save"></i></button>
                            <a class="button alert large" asp-action="Index"><i class="fas fa-times"></i></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

